.posts {
  padding: 20px 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  width: 500px;
  word-break: break-all;
  margin: 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #dee2e6;

  &__user {
    font-weight: bold;
    color: #495057;
  }

  &__icon {
    margin-right: 10px;
    background-color: #dee2e6;
    color: #495057;
    border-radius: 50%;
    padding: 5px;
  }

  &__date {
    margin-left: auto;
    font-size: 12px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__content {
    color:#495057;
    background-color: #dee2e6;
    border-radius: 4px;
    padding: 10px;
  }

  &__utils {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__like {
    display: inline-block;
    color: #dee2e6;
    padding: 3px;

    &:hover {
      cursor: pointer;
    }

    &--disabled {
      pointer-events: none;
    }
  }

  &__unlike {
    color:#495057;
    display: inline-block;
    padding: 3px;

    &:hover {
      cursor: pointer;
    }
  }

  &__likes {
    color:#495057;
    padding: 3px;
    display: inline-block;
    margin-left: auto;
  }

  &__delete {
    display: inline-block;
    color:red;
    padding: 3px;

    &:hover {
      cursor: pointer;
    }
  }

  &-add {
    position: relative;

    &__btn {
      width: 500px;
      background-color: #495057;
      color: #dee2e6;
      border: none;
      padding: 10px;
      border-radius: 4px;
      outline: none;
    }

    &__input {
      width: 500px;
      border: 1px solid #495057;
      padding: 10px;
      padding-right: 50px;
      border-radius: 4px;
      outline: none;
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(-50%, -50%);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.modal {
  &-header {
    .close {
      outline: none;
    }
  }
}

.chat {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 400px;
}

.sort-by {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__label {
    color: #495057;
    flex-grow: 2;
  }

  &__likes {
    cursor: pointer;
    color: #495057;
    flex-grow: 1;
  }

  &__date {
    cursor: pointer;
    color: #495057;
    flex-grow: 1;
  }

  .active {
    font-weight: bold;
    text-decoration: underline;
  }
}
